
html{
    overflow-x: hidden;
}
#sliding-menu-brice-j *{
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
#sliding-menu-brice-j ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#sliding-menu-brice-j ul li{
    display: inline-block;

}
#sliding-menu-brice-j a{
    display: block;
}
#secondary-navs .secondary-nav{
    float: left;
}
#secondary-navs{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
    position: absolute;
    left: 100%;
    overflow: hidden;
}
#responsive-title{
    overflow: hidden;

   text-align: center;
}
#responsive-title>*{
    display: block;
    padding: 0.5em 1em;
}
#responsive-title a{
   position: absolute;
    text-decoration: none;
}
#responsive-title{
    display: none;
}


/* -------------------------------- 
Responsive
-------------------------------- */
#showMenu span{
   width: 40px;
   margin: 10px auto;
   border-top: 2px solid white;
   display: block;
}


@media(max-width: 1000px){
     #sliding-menu-brice-j ul li{
        width: 100%;
    }
    #sliding-menu-brice-j #showMenu {
            display: block;
    }
    #sliding-menu-brice-j>div {
            display: none ;
    }
    #secondary-navs{
        left: 100%;
    }


}
@media(min-width: 1000px){
    #sliding-menu-brice-j #showMenu {
            display: none;
    }
    #sliding-menu-brice-j>div {
            display: block !important;
    }
    #primary-nav {
            display: block !important;
    }
    #responsive-title{
        display: none !important;
    }
    
}



/* -------------------------------- 
DECO
-------------------------------- */

html{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}
#sliding-menu-brice-j *{
    color: white;
}
#sliding-menu-brice-j ul a{
    text-decoration: none;
    padding: 0.5em 1em;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#primary-nav{
    background:#3498DB;
    text-align: center;
        font-size: 1.5em;
}
#secondary-navs{
    text-align: center;
    font-size: 1.1em;
}
.secondary-nav{
    background: #2980B9;
}

#showMenu{
    background-color: #333;
    color: white;
    padding: 0.5em 1em;
}
#responsive-title{
    background:#3498DB;
   font-size: 1.2em;
}
#responsive-title a{
   background-color: white;
   color: #333;
}
/* -------------------------------- 
Categorie Active
-------------------------------- */
.activeCategory a{
    background-color: #2980B9;

}